body {
    font-family: calibri;
    margin: 0;
}

@font-face {
    font-family: 'icomoon';
    src:url('fontstyles/icomoon.eot');
    src:url('fontstyles/icomoon.eot?#iefix') format('embedded-opentype'),
        url('fontstyles/icomoon.woff') format('woff'),
        url('fontstyles/icomoon.ttf') format('truetype'),
        url('fontstyles/icomoon.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

#wrapper{

    background: url(../Images/bg.jpg);
    background-size: 100% 100%;
}

.fontIcon {
    font-family: 'icomoon';
    content: attr(data-icon);
    text-decoration: none;
    font-size: 20px;
    padding: 2px;
    cursor: pointer;
}

.fontIcon:hover {
    color: #008080;    
}

#tmpHeader {
    z-index: 500;
    position: absolute;
    left: 0;
    top: 0;
    padding: 0;
    width: 100%;
    min-width: 1080px;
    height: 140px;
    background-color: #008b8b;
    border-bottom: #008080;
}

#tmpContent {
    position: relative;
    width: 1060px;
    max-width: 1060px;
    min-height: 80%;
    margin: auto auto;
    margin-top:130px;
    padding:10px;
    background-color: #ffffff;
    overflow: auto;
    padding-bottom: 50px;
}

#tmpFooter {
    bottom: 0;
    position: fixed;
    width: 100%;
    min-width: 1080px;
    color: #ffffff;
    font-size:  60px;
    height: 20px;
    background-color: #008b8b;
    border-bottom: #008080;
}

.beheerMenu {
    width: 90%;
    padding: 5%;
}

.beheerMenu .menuRow {
    height: 150px;
    width: 100%;
}

.beheerMenu .menuRow .menuItem {
    width: 130px;
    margin-right: 20px;
    background: #cecece;
    border: 1px solid #999999;
    text-align: center;
    float: left;
    -ms-border-radius: 5px;
    border-radius: 5px;   
    border-top: 3px;             
    border-left: 3px;      

    color: #ffffff;
}

.beheerMenu .menuRow .menuItem .fontIcon {
    font-size: 90px;
    height: 100px;
    width: 130px;
}      

.beheerMenu .menuRow .menuItem .text {
    width: 130px;
    height: 25px;
    font-size: 20px;   
}    

.beheerMenu .menuRow .menuItem:hover {     
    color: #008080;     
    border: 1px solid #999999;    
    border-right: 3px;             
    border-bottom: 3px;
}

.headerMenu {
    margin: 0 auto;
    width: 400px;
}

.headerMenu ul {
    list-style: none;
    font-size: 14px;
}

.headerMenu ul li {
    color: #eeeeee;
    float: left;
    padding: 10px;
    width: 150px;
    line-height: 80px;
    cursor: pointer;
    text-align: center;
}

.headerMenu ul li:hover {  
    color: #ffffff;
}

.headerMenu ul li .icon {
    font-size: 65px;
}   

.headerMenu ul li .icon:hover {    
    color: #ffffff;
}

.headerMenu ul li .text {
    line-height: 18px;
    font-size: 16px;
}

.ribbon {
    width: 100%;
    height: 110px;
}

.ribbon .item {
    height: 100%;
    width: 110px;
    background-color: #cecece;
    color: #ffffff;
    float: left;
    font-size: 18px;
    border-right: 1px solid #ffffff;
}

.ribbon .item:hover {    
    color: #008080;
}

.ribbon .item .fontIcon {
    height: 80px;
    font-size: 50px;
    text-align: center;  
}

.ribbon .item .text {
    text-align: center;
    height: 20px;     
}    

.ribbon .item .fontIcon:hover {    
    color: #008080;
}

.ribbon .item .text:hover { 
    color: #008080;
}


.centerDiv {
    position: relative;
    margin: 0 auto;
    top: 50px;
    width: 35%;
}   

.noAction {
    border: none;   
    cursor: default;
}

.noAction tr:hover {
    background-color: #ffffff;
    color: #000000;
}

table {
    padding: 15px;
    width: 90%;
    height: 90%;
    border: 1px solid black;
    cursor: pointer;
}

table th {
    text-align: left;
    padding-left: 5px;
}

table tr {
    line-height: 22px;        
    background-color: #ffffff;
}  

table tbody tr:hover {
    line-height: 22px;
    color: #ffffff;      
    background-color: #008080;
}

.noHover:hover {
    color: black;
    background-color: #ffffff;
}

table tr.unEven {
    background-color: #ededed;
}   

table tbody tr.unEven:hover {
    line-height: 22px;
    color: #ffffff;      
    background-color: #008080;
}

table tbody tr.selected {
    line-height: 22px;
    margin-left: 15px;
    color: #ffffff;      
    background-color: #006060;
}

table tr td {
    padding-left: 5px;
}

.splitScreen {
    width: 100%;
    clear: both;
}

.splitScreen .left {
    width: 50%;
    float: left;
}  

.splitScreen .right {   
    width: 50%;
    float: left;
}

.listView {
    padding: 0;
    margin: 0;
    list-style: none;
    width: 40%;
    float: left;
    border: 1px solid #000000;
    height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
}

.listView .listItem{
    padding-left: 5px;
    width: 100%;
    cursor: pointer;
}    

.listView .listItem:hover{ 
    background-color: #008080;
    color: #ffffff;
}
.listView .listItem.selected{
    background-color: #006060;
    color: #ffffff;
} 

.listViewControl {
    width: 8%;
    text-align: center;
    float: left;
}

.coverBg{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 500;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
}

.coverBg .cover{
    position: relative;
    top: 200px;
    z-index: 600;
    margin: 0 auto;
    width: 540px;
    
    height: auto;
    background-color: #ffffff;
}

.coverBg .cover .header{
    width: 100%;
    background-color: #008b8b;
    border-bottom: 3px solid #006a6a;
    color: #ffffff;
    line-height: 40px;
    height: 40px;
}

.coverBg .cover .header .closeButton{
    float: right;
    height: 100%;
    width: 30px;
    color: #eeeeee;
    font-size: 24px;
}
.coverBg .cover .header .closeButton:hover{
    color: #ffffff;
}
.coverBg .cover .header .closeButton:before{ 
    content: "\e0fa";
    speak: none;
}

.coverBg .cover .contentMessage{
    padding:20px;
    width: 500px;
}

h1 {
    color: #008b8b;
}

h2 {    
    color: #008b8b;
}

h4 {
    color: #ececec;
}

input[type=text] {
    -ms-border-radius: 5px;
    border-radius: 5px;
    width: 200px;
    height: 25px;
    padding: 3px;
}        
input[type=password] {
    -ms-border-radius: 5px;
    border-radius: 5px;     
    width: 200px;    
    height: 25px;  
    padding: 3px;
}      
.selectFullSize{                 
    -ms-border-radius: 5px;
    border-radius: 5px;
    width: 210px;
    height: 30px;
    padding: 3px;
}         
input[type=submit] {
    -webkit-appearance: none;
    float: right;
    -webkit-appearance: none;
    width: 130px;         
    height: 35px;
    cursor: pointer;
}  
input[type=button] {    
    -webkit-appearance: none;
    width: 130px;         
    height: 35px;
}     

input[type=button]:hover {   
    -webkit-appearance: none;   
    color: #ffffff;
    background-color: #008b8b;   
    width: 130px;   
    height: 35px;
}

input[type=submit]:hover {      
    -webkit-appearance: none;
    color: #ffffff;
    background-color: #008b8b;
    height: 35px;
}